* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lato, arial, sans-serif;
  letter-spacing: 1px;
  color: black;
  transition: 0.2s;
  text-shadow: 0.5px 0.5px 1px black;
}

#root {
  width: 100%;
  max-width: 450px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

button,
input {
  outline: none;
}
button:focus {
  outline: none;
}
.container {
  padding: 20px 10px;
  width: 100%;
  height: 100vh;
  max-height: 750px;
  background-color: #f3a153;
  overflow: hidden;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 18%;
}

.add-todo {
  padding: 10px 20px;
  width: 90%;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  background: #f3a153;
  box-shadow: inset 5px 5px 0px #704a26, inset -5px -5px 0px #fff880;
}

.add-todo::placeholder {
  color: black;
  opacity: 0.5;
  font-size: 0.9rem;
}

.add-todo-option {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
}

input[name="important"] {
  margin-right: 10px;
  cursor: pointer;
}

label {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  cursor: pointer;
}

button {
  padding: 8px 0;
  font-size: 0.9rem;
  border: none;
  border-radius: 10px;
  background: #f3a153;
  box-shadow: 5px 5px 0px #704a26, -5px -5px 0px #fff880;
  cursor: pointer;
}

button:focus {
  animation: buttonHover 0.5s linear;
}

@keyframes buttonHover {
  0% {
    background: #f3a153;
    box-shadow: 5px 5px 0px #704a26, -5px -5px 0px #fff880;
  }

  25% {
    background: #f18c2d;
    box-shadow: 3px 3px 0px #704a26, -7px -7px 0px #fff880;
  }
  75% {
    background: #f18c2d;
    box-shadow: 3px 3px 0px #704a26, -7px -7px 0px #fff880;
  }
  100% {
    background: #f3a153;
    box-shadow: 5px 5px 0px #704a26, -5px -5px 0px #fff880;
  }
}

.panel {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}

.todo-list {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  height: 67%;
  overflow-y: scroll;
}

.todo-list::-webkit-scrollbar {
  border-radius: 10px;

  width: 1em;
}

.todo-list::-webkit-scrollbar-track {
  border-radius: 10px;

  box-shadow: inset 0 0 6px #f84f0c;
}

.todo-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #f84f0c;
}

.no-tasks {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 0 25px 0 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #f3a153;
  box-shadow: 5px 5px 0px #704a26, -5px -5px 0px #fff880;
  text-transform: capitalize;
  cursor: pointer;
}

.todo:focus {
  background: #f18c2d;
  box-shadow: 3px 3px 0px #704a26, -7px -7px 0px #fff880;
  text-decoration: line-through;
  opacity: 0.7;
}

@keyframes todoHover {
  0% {
    background: #f3a153;
    box-shadow: 5px 5px 0px #704a26, -5px -5px 0px #fff880;
    opacity: 1;
    text-decoration: none;
  }
  25% {
    background: #f18c2d;
    box-shadow: 3px 3px 0px #704a26, -7px -7px 0px #fff880;
    text-decoration: line-through;
    opacity: 0.7;
  }
  75% {
    background: #f18c2d;
    box-shadow: 3px 3px 0px #704a26, -7px -7px 0px #fff880;
    text-decoration: line-through;
    opacity: 0.7;
  }
  100% {
    background: #f3a153;
    box-shadow: 5px 5px 0px #704a26, -5px -5px 0px #fff880;
    opacity: 1;
    text-decoration: none;
  }
}

.todo-name {
  line-height: 2.3rem;
  flex-basis: 80%;
}

.trash {
  height: 70%;
  width: 30px;
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  height: 30vh;
  max-width: 400px;
  max-height: 700px;
  border-radius: 10px;
  background: #f3a153;
  box-shadow: 5px 5px 0px #704a26, -5px -5px 0px #fff880;
}

.modal-btns {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

.modal-btns button {
  text-transform: uppercase;
}

.todo.important {
  background: #f84f0c;
  /* background: #f87e0c; */
}

.todo.completed {
  opacity: 0.3;
}

.todo.completed p {
  text-decoration: line-through;
}

.container.hide {
  opacity: 0.7;
}

.modal-container.show {
  display: block;
}
